<div style="text-align: left">
    homePage 
    <div v-for="user in userList" style="display: flex; justify-content: space-between;">
        <div>id: {{user.id}}</div>
        <div>username: {{user.username}}</div>
        <div>password: {{user.password}}</div>
        <div style="height: 20px;"></div>
    </div>
    <hr>
    <select v-model="urlHeader">
        <option value="http://">http</option>
        <option value="https://">https</option>
    </select>
    <input type="text" v-model="url" @keyup.enter="getHtml" placeholder="爬取页面"/>
    <button @click="getHtml">爬取页面</button><br>
    <select v-model="urlJSONHeader">
        <option value="http://">http</option>
        <option value="https://">https</option>
    </select>
    <input type="text" v-model="urlJSON" @keyup.enter="getJson" placeholder="爬取数据"/>
    <button @click="getJSON">爬取数据</button>
    <div>子组件爬虫</div>
    <div v-html="userHtml" style="max-width: 100%; max-height: 400px;overflow: auto;"></div>
    <div>{{userJSON}}</div>
    <hr>
    <div>数据写入</div>
    username: <input type="text" v-model="form.username"/><br>
    password: <input type="password" v-model="form.password"/>
    <button @click="submit">数据注册</button>
</div>